<!doctype html>
<html ng-app="algApp" ng-cloak>
	<head>
		<title>Algorithms</title>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script src="js/main.js"></script>
	</head>
	<body>
		<div ng-controller="collatzCtrl">
			<h1>Collatz Conjecture</h1>
			<input type="number" ng-model="collatzInput"/>
			<button ng-click="update()">Calculate</button>
			<p>Steps: {{collatzSteps}}</p>
			<p>Number of Steps: {{collatzNumSteps}}</p>
		</div>

		<div ng-controller="mergeSort">
			<h1>Merge Sort</h1>
			<input ng-model="inputArray"/>
			<button ng-click="update()">Sort</button>
			<p>Sorted Array: {{sortedArray}}</p>
		</div>

		<div ng-controller="bubbleSort">
		</div>
	</body>

</html>